<h1> Confirmation</h1>
<p><%=@reservation.id%></p>
<p><%=@hotel.name%></p>
<p><%=@hotel_room.room_type%></p>
<p><%=@reservation.check_in%></p>
<p><%=@reservation.check_out%></p>
<p><%=@reservation.price%></p>
